@tailwind base;
@tailwind components;
@tailwind utilities;

.brand::after {
  content: "";
  width: 26%;
  height: 145%;
  position: absolute;
  background-color: whitesmoke;
  top: -45%;
  left: -2%;
  transform: skewX(15deg);
  z-index: -1;
}
.brand::before {
  content: "";
  width: 26%;
  height: 100%;
  position: absolute;
  background-color: brown;
  top: -44%;
  left: -1%;
  transform: skewX(15deg);
  z-index: -2;
}

/* @media (max-width: 2560px) {
  .brand::after {
    width: 25%;
  }
  .brand::before {
    width: 25%;
  }
} */

@media (max-width: 1440px) {
  .brand::after {
    width: 30%;
  }
  .brand::before {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .brand::after {
    width: 100%;
  }
}

.showwer {
  display: none;
}
.hidden-shown:hover .showwer {
  display: block;
}
